title How
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')

//- Webpage details
meta(name='author', content='Sachin Kodagoda')
meta(name='keywords', content='css tricks')
meta(name='description', content='templates')

//- Chrome, Firefox OS and Opera
meta(name='theme-color', content='#000')
meta(name='apple-mobile-web-app-status-bar-style', content='#000')

//- Favicon
link(rel='icon', href='/assets/img/favicon.ico', type='image/x-icon', sizes='16x16')

//- Fonts
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,600,900')
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap")
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
script(type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js")
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
//- css
link(rel='stylesheet', href='assets/css/main.css')
