@import '_00-colors'

// Base Details-------------------------------------------------------------------
$author: "Sachin Kodagoda"
$version: "1.0"

// Fonts-------------------------------------------------------------------------
$base-font: "Raleway", Arial, Helvetica, sans-serif
$headers-font: "Segoe UI", Arial, sans-serif
$coders-font: monospace

// Colors-------------------------------------------------------------------------
$base-color: $aqua

$primary-bg: #1E2123
$primary-color: #000
$primary-border: #000

$btn-bg: #fff
$btn-color: #000
$btn-border: #ccc

$btn-hover-bg: #000
$btn-hover-color: #fff
$btn-hover-border: #333


// Other-------------------------------------------------------------------------
$mark-bg: #ff0
$mark-color: #000
$fieldset-border: #c0c0c0
$hr-border: #eee

// (for phones)
$small-max: 576px
// (for tablet)
$medium-min: 576px
// (landscape of tablet)
$large-min: 769px
// (for small Laptop)
$xlarge-min: 992px
// (for large laptop)
$xxlarge-min: 1201px
// (for 4k)
$xxxlarge-min: 1441px



// Customs ----------------------------------
$toolbar-width: 50px
$rightPannel-width: 200px


$mainBackGround: #969FA5
$mainRightPanel: #212527
$mainRightPanel-Font: #A7B0B4
$mainRightPanel-Border: #000
$mainRightPanel-Topic: linear-gradient(#212527,#1c1f21)
$mainRightPanel-Topic-box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.035), 0 -1px 2px 0 rgba(0,0,0,.12), 0 1px 0 0 hsla(0,0%,100%,.035)
$RightPanel-CommonBorder: 1px solid $mainRightPanel-Border

$toolTip-Background: #383C3F
$toolTip-Font: #fff
$toolTip-Boxshadow: inset 0 1px 1px 0 rgba(0,0,0,.2)

$commonInnerBoxShadow: inset 0 0 6px rgba(0,0,0,0.6)
$commonInnerBoxShadow_less: inset -1px 0 1px 0 rgba(0,0,0,.5)
$commonInnerBoxShadow_card: 0 4px 8px 0 rgba(0,0,0,0.2)
// $mainBackGround: #1B203C